@import url("https://fonts.googleapis.com/css?family=Raleway|Raleway+Dots");

* {
  box-sizing: border-box;
}

:root.dark {
  --bg-col: #001122;
  --main-color: #fff;
  --blue-acc: #4169e1;
}

:root.light {
  --bg-col: #fff;
  --main-color: #001122;
  --blue-acc: #002366;
}

body {
  margin: 0;
  padding: 5em 10em;
  background-color: var(--bg-col);
  color: var(--main-color);
  font-family: "Raleway", sans-serif;
  transition: background-color 0.5s, color 0.5s;
}

aside {
  width: 30%;
  float: left;
  padding: 1em;
}

aside header {
  text-align: center;
}

aside header .logo-link {
  color: inherit;
  text-decoration: none;
}

.logo-link:hover p {
  text-decoration: underline;
}

aside .blog-logo {
  width: 10em;
}

.toggle-container {
  text-align: center;
  margin: 1em 0;
}

.toggle-container span {
  vertical-align: -webkit-baseline-middle;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
  margin: 0 0.2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-color);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 2em;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.5em;
  left: 4px;
  bottom: 4px;
  background-color: var(--bg-col);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
}

input:checked + .toggle:before {
  -webkit-transform: translateX(2em);
  -ms-transform: translateX(2em);
  transform: translateX(2em);
}

.recent-posts h2 {
  color: var(--blue-acc);
  text-align: center;
}

main {
  width: 65%;
  float: right;
}

.blog-post {
  border-radius: 0.25em;
  padding: 1em;
  margin: 1em 0;
  transition: border .5s;
  border: 0.25em solid transparent;
}

.blog-post:hover {
  border-color:#10d93f;
  box-shadow: 0px 0px 20px 0px #10d93f;
}

.blog-post h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 2em;
}

.blog-post a {
  color: inherit;
  text-decoration: none;
}

.blog-post:hover .post-link {
  text-decoration: underline;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2em;
}

nav a {
  color: var(--main-color);
  text-decoration: none;
  transition: color .2s;
}

nav a:hover {
  color: var(--blue-acc)
}

@media (max-width: 992px) {
  body {
    padding: 2em;
  }

  aside {
    width: 100%;
    float: none;
  }

  main {
    width: 100%;
    float: none;
  }

  .recent-posts {
    display: none;
  }
}
