.serif {
  font-family: 'Roboto Slab', serif;
  color: white;
}
.sans-serif {
  font-family: 'Montserrat', sans-serif;
  color: white;
}
body {
  margin: 0;
  background-color: black;
  overflow-y: hidden;
}
@media (max-width: 992px) {
  body {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
body.overflow-hidden {
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  background: #fff;
}
::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1;
}
.menu {
  position: fixed;
  top: 0;
  display: table;
  width: 100%;
  padding: 1.5em;
  box-sizing: border-box;
  z-index: 99;
}
@media (min-width: 992px) {
  .menu .overlay {
    display: none;
  }
}
.menu .layout-switch {
  display: table-cell;
  width: 50%;
  position: relative;
  transform: translateY(-4em);
  animation: dropDown 500ms linear 9s 1 normal forwards;
}
@media (max-width: 992px) {
  .menu .layout-switch {
    display: none;
  }
}
.menu .layout-switch a {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  color: white;
  text-decoration: none;
}
.menu .layout-switch a.landscape {
  display: none;
}
.menu .page-links {
  display: table-cell;
  width: 50%;
  text-align: right;
}
@media (max-width: 992px) {
  .menu .page-links {
    width: 100%;
  }
}
.menu .page-links a {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-decoration: none;
  padding-left: 1em;
  display: inline-block;
  transform: translateX(30em);
  animation: slideInRight 500ms linear 1 normal forwards;
}
.menu .page-links a.end-animation {
  transform: translateX(0);
  animation: none;
}
.menu .page-links a:nth-child(1) {
  animation-delay: 10s;
}
@media (max-width: 992px) {
  .menu .page-links a:nth-child(1) {
    animation-delay: 8.5s;
  }
}
.menu .page-links a:nth-child(2) {
  animation-delay: 10.5s;
}
@media (max-width: 992px) {
  .menu .page-links a:nth-child(2) {
    animation-delay: 9s;
  }
}
.menu .page-links a:nth-child(3) {
  animation-delay: 11s;
}
@media (max-width: 992px) {
  .menu .page-links a:nth-child(3) {
    animation-delay: 9.5s;
  }
}
.menu .page-links a:nth-child(4) {
  animation-delay: 11.5s;
}
@media (max-width: 992px) {
  .menu .page-links a:nth-child(4) {
    animation-delay: 10s;
  }
}
.menu .page-links a:nth-child(5) {
  animation-delay: 12s;
}
@media (max-width: 992px) {
  .menu .page-links a:nth-child(5) {
    animation-delay: 10.5s;
  }
}
.menu .page-links a:hover {
  transform: translateX(0);
  animation: rainbow 1s linear;
}
.menu.portrait .layout-switch a.landscape {
  display: inline-block !important;
}
.menu.portrait .layout-switch a.portrait {
  display: none;
}
.section-wrapper {
  display: flex;
  width: fit-content;
  height: fit-content;
}
@media (max-width: 992px) {
  .section-wrapper {
    display: block;
  }
}
.section-wrapper.portrait {
  display: block;
}
.section-wrapper section {
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: black;
}
@media (max-width: 992px) {
  .section-wrapper section {
    min-height: 100vh;
    height: auto;
  }
}
.section-wrapper .home-section {
  background-image: url('../images/spinning.gif');
  background-size: cover;
  background-position-x: center;
  position: relative;
}
.section-wrapper .home-section .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  animation: fadeIn 0s linear 5s 1 normal forwards;
}
.section-wrapper .home-section .content {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
  width: 75%;
  padding: 0em 3em;
}
@media (max-width: 992px) {
  .section-wrapper .home-section .content {
    width: 100%;
  }
  .section-wrapper .home-section .content .third,
  .section-wrapper .home-section .content .fourth {
    display: none;
  }
}
.section-wrapper .home-section .content h1,
.section-wrapper .home-section .content h2 {
  font-family: 'Roboto Slab', serif;
  color: white;
}
.section-wrapper .home-section .content p {
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.section-wrapper .home-section .content .first,
.section-wrapper .home-section .content .second {
  transform: translateX(-100%);
  animation: slideInLeft 1s linear 1 normal forwards;
}
.section-wrapper .home-section .content .third,
.section-wrapper .home-section .content .fourth,
.section-wrapper .home-section .content .fifth,
.section-wrapper .home-section .content .sixth {
  opacity: 0;
  animation: fadeInUp 500ms linear 1 normal forwards;
}
.section-wrapper .home-section .content .first {
  animation-delay: 4.5s;
}
.section-wrapper .home-section .content .second {
  animation-delay: 5.5s;
}
@media (max-width: 992px) {
  .section-wrapper .home-section .content .second {
    animation-delay: 6.5s;
  }
}
.section-wrapper .home-section .content .third {
  animation-delay: 6.5s;
}
.section-wrapper .home-section .content .fourth {
  animation-delay: 7.5s;
}
.section-wrapper .home-section .content .fifth {
  animation-delay: 10s;
}
@media (max-width: 992px) {
  .section-wrapper .home-section .content .fifth {
    animation-delay: 8.5s;
  }
}
.section-wrapper .home-section .content .sixth {
  animation-delay: 12.5s;
}
.section-wrapper .about-section {
  background-color: black;
  position: relative;
  height: 100vh;
  padding: 5em 3em;
}
@media (max-width: 992px) {
  .section-wrapper .about-section {
    padding: 5em 1em;
  }
}
.section-wrapper .about-section .bouncing {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section-wrapper .about-section .bouncing ball {
  border-radius: 50%;
}
.section-wrapper .about-section .intro,
.section-wrapper .about-section .fact {
  font-family: 'Roboto Slab', serif;
  color: white;
  color: inherit;
  position: absolute;
  text-align: center;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: fit-content;
  width: 50%;
  transition: 1s;
  text-decoration: none;
}
.section-wrapper .about-section .intro.hidden,
.section-wrapper .about-section .fact.hidden {
  visibility: hidden;
}
@media (max-width: 992px) {
  .section-wrapper .about-section .intro,
  .section-wrapper .about-section .fact {
    width: 100%;
  }
}
@media (max-height: 600px) {
  .section-wrapper .about-section .fact {
    top: auto;
  }
}
.section-wrapper .about-section .content {
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: relative;
  height: 100%;
  user-select: none;
  transition: 1s;
}
.section-wrapper .about-section .content.hidden {
  opacity: 0;
}
.section-wrapper .about-section .content .clear-ball {
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 0;
  font-size: 0.8em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.section-wrapper .work-section {
  position: relative;
  padding: 4em 3em;
}
@media (max-width: 992px) {
  .section-wrapper .work-section {
    padding: 5em 1em;
  }
}
.section-wrapper .work-section.background {
  background-image: url(../images/tech-background.gif);
  background-position: center;
}
@media (max-width: 992px) {
  .section-wrapper .work-section {
    padding: 5em 1em;
  }
}
.section-wrapper .work-section .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  opacity: 0.8;
}
.section-wrapper .work-section .line {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: blue;
  mix-blend-mode: screen;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
}
.section-wrapper .work-section .line:after,
.section-wrapper .work-section .line:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  mix-blend-mode: screen;
}
.section-wrapper .work-section .line:after {
  top: 2px;
  background: red;
}
.section-wrapper .work-section .line:before {
  top: -2px;
  background: limegreen;
}
@media (max-width: 992px) {
  .section-wrapper .work-section .line {
    display: none;
  }
}
.section-wrapper .work-section .content {
  height: 100%;
  font: normal 100 16px/1.2em "Exo 2", Arial, sans-serif;
  letter-spacing: 0.06em;
  color: rgba(120, 200, 255, 0.8);
  transition: 1s;
}
.section-wrapper .work-section .content.hidden {
  opacity: 0;
  transform: translateY(20px);
}
@media (max-width: 992px) {
  .section-wrapper .work-section .content.hidden {
    opacity: 1 !important ;
  }
}
@media (max-width: 992px) {
  .section-wrapper .work-section .content {
    width: 100%;
  }
}
.section-wrapper .work-section .content .work-bio {
  position: relative;
  margin: 1% 2.5%;
  line-height: 1em;
  text-align: justify;
  background-color: rgba(120, 200, 255, 0.2);
  border: 1px solid rgba(120, 200, 255, 0.5);
  box-shadow: inset 0 0 0 1px rgba(120, 200, 255, 0.3);
  padding: 1em;
}
@media (max-width: 992px) {
  .section-wrapper .work-section .content .work-bio {
    line-height: 1.1em;
    margin: 1% 2.5% 2.5%;
  }
}
.section-wrapper .work-section .content .work-bio .heading {
  font-size: 1.5em;
  border-bottom: 1px solid rgba(120, 200, 255, 0.2);
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}
.section-wrapper .work-section .content .work-bio a {
  text-decoration: none;
  color: white;
  padding: 0.1em;
  border: 1px solid rgba(120, 200, 255, 0.2);
  background-color: rgba(120, 200, 255, 0.6);
  transition: 0.3s;
}
@media (max-width: 992px) {
  .section-wrapper .work-section .content .work-bio a {
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .section-wrapper .work-section .content .work-bio a:hover {
    text-decoration: none;
  }
}
.section-wrapper .work-section .content .work-bio a:hover {
  background-color: rgba(120, 200, 255, 0.2);
  border: 1px solid rgba(120, 200, 255, 0.5);
  box-shadow: inset 0 0 0 1px rgba(120, 200, 255, 0.3);
  color: rgba(120, 200, 255, 0.8);
}
.section-wrapper .work-section .content .works-done,
.section-wrapper .work-section .content .works-written {
  position: relative;
  display: inline-block;
  margin: 1% 2.5%;
  background-color: rgba(120, 200, 255, 0.2);
  border: 1px solid rgba(120, 200, 255, 0.5);
  box-shadow: inset 0 0 0 1px rgba(120, 200, 255, 0.3);
  padding: 1em;
  width: 45%;
  height: 50%;
}
@media (max-width: 992px) {
  .section-wrapper .work-section .content .works-done,
  .section-wrapper .work-section .content .works-written {
    width: 95%;
    min-height: 45vh;
    height: auto;
    margin: 1% 2.5% 2.5%;
  }
}
.section-wrapper .work-section .content .works-done .heading,
.section-wrapper .work-section .content .works-written .heading {
  font-size: 1.5em;
  border-bottom: 1px solid rgba(120, 200, 255, 0.2);
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}
@media (max-width: 992px) {
  .section-wrapper .work-section .content .works-done .works-container,
  .section-wrapper .work-section .content .works-written .works-container {
    margin: 5% 0;
  }
}
.section-wrapper .work-section .content .works-done .works-container .static,
.section-wrapper .work-section .content .works-written .works-container .static {
  position: absolute;
  width: 92.5%;
  height: 67%;
  z-index: 2;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
}
@media (max-width: 992px) {
  .section-wrapper .work-section .content .works-done .works-container .static,
  .section-wrapper .work-section .content .works-written .works-container .static {
    display: none !important;
  }
}
.section-wrapper .work-section .content .works-done .works-container .work,
.section-wrapper .work-section .content .works-written .works-container .work {
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  width: 92.5%;
  margin: auto;
  overflow: hidden;
}
@media (max-width: 992px) {
  .section-wrapper .work-section .content .works-done .works-container .work,
  .section-wrapper .work-section .content .works-written .works-container .work {
    position: relative;
    visibility: visible !important;
    width: 100%;
    margin: 5% 0;
  }
  .section-wrapper .work-section .content .works-done .works-container .work:last-of-type .work-title,
  .section-wrapper .work-section .content .works-written .works-container .work:last-of-type .work-title {
    margin: 0;
    padding: 1em 0 0;
    border-bottom: none;
  }
}
.section-wrapper .work-section .content .works-done .works-container .work:nth-child(1),
.section-wrapper .work-section .content .works-written .works-container .work:nth-child(1) {
  visibility: visible;
}
.section-wrapper .work-section .content .works-done .works-container .work .work-link,
.section-wrapper .work-section .content .works-written .works-container .work .work-link {
  display: block;
  overflow: hidden;
  border: 1px solid rgba(120, 200, 255, 0.2);
  text-decoration: none;
}
.section-wrapper .work-section .content .works-done .works-container .work .work-link .work-image,
.section-wrapper .work-section .content .works-written .works-container .work .work-link .work-image {
  width: 100%;
  height: 75%;
  object-fit: cover;
  transition: 0.5s;
}
@media (max-width: 992px) {
  .section-wrapper .work-section .content .works-done .works-container .work .work-link .work-image,
  .section-wrapper .work-section .content .works-written .works-container .work .work-link .work-image {
    height: 40vh;
  }
}
.section-wrapper .work-section .content .works-done .works-container .work .work-link .work-overlay,
.section-wrapper .work-section .content .works-written .works-container .work .work-link .work-overlay {
  right: 105%;
  position: absolute;
  background-color: rgba(41, 68, 90, 0.9);
  width: 100%;
  height: 90%;
  color: white;
  padding: 0em 1em;
  transition: 0.6s;
}
.section-wrapper .work-section .content .works-done .works-container .work .work-link:hover .work-overlay,
.section-wrapper .work-section .content .works-written .works-container .work .work-link:hover .work-overlay,
.section-wrapper .work-section .content .works-done .works-container .work .work-link:focus .work-overlay,
.section-wrapper .work-section .content .works-written .works-container .work .work-link:focus .work-overlay {
  right: 0;
}
.section-wrapper .work-section .content .works-done .works-container .work .work-title,
.section-wrapper .work-section .content .works-written .works-container .work .work-title {
  text-align: center;
  margin-top: 0.3em;
}
@media (max-width: 992px) {
  .section-wrapper .work-section .content .works-done .works-container .work .work-title,
  .section-wrapper .work-section .content .works-written .works-container .work .work-title {
    padding: 1em;
    border-bottom: 1px solid;
    margin: 0 -1em;
  }
}
.section-wrapper .work-section .content .works-done .controls,
.section-wrapper .work-section .content .works-written .controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 15%;
  width: 100%;
  bottom: 0;
  right: 0;
  padding: 0 2.5em;
}
@media (max-width: 992px) {
  .section-wrapper .work-section .content .works-done .controls,
  .section-wrapper .work-section .content .works-written .controls {
    display: none;
  }
}
.section-wrapper .work-section .content .works-done .controls #previous-button,
.section-wrapper .work-section .content .works-written .controls #previous-button,
.section-wrapper .work-section .content .works-done .controls #next-button,
.section-wrapper .work-section .content .works-written .controls #next-button {
  font-size: 2em !important;
  border: none;
  background: transparent;
  color: inherit;
  padding: 0;
  font: inherit;
  z-index: 10;
  cursor: pointer;
}
.section-wrapper .work-section .content .works-written {
  float: right;
}
@media (max-width: 992px) {
  .section-wrapper .work-section .content .works-written {
    float: unset;
  }
}
.section-wrapper .work-section .content .works-written .work {
  height: 90%;
}
.section-wrapper .work-section .content .works-written .work .work-link {
  background-color: rgba(120, 200, 255, 0.1);
  height: 75%;
  padding: 0.5em;
}
.section-wrapper .work-section .content .works-written .work .work-link h1 {
  font-family: 'Roboto Slab', serif;
  color: white;
  margin-top: 0;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.2em;
}
.section-wrapper .work-section .content .works-written .work .work-link p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  color: rgba(255, 255, 255, 0.7);
}
.section-wrapper .work-section .content .timeline-border {
  position: relative;
  margin: 1% 2.5%;
  background-color: rgba(120, 200, 255, 0.2);
  border: 1px solid rgba(120, 200, 255, 0.5);
  box-shadow: inset 0 0 0 1px rgba(120, 200, 255, 0.3);
  padding: 1em;
  height: 18%;
}
@media (max-width: 992px) {
  .section-wrapper .work-section .content .timeline-border {
    display: none;
  }
}
.section-wrapper .work-section .content .timeline-border .heading {
  font-size: 1.5em;
  border-bottom: 1px solid rgba(120, 200, 255, 0.2);
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}
.section-wrapper .work-section .content .timeline-border .timeline {
  position: absolute;
  width: 97%;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(120, 200, 255, 0.8);
  border: 1px solid rgba(120, 200, 255, 0.5);
}
.section-wrapper .work-section .content .timeline-border .timeline .point {
  color: inherit;
  position: absolute;
  left: -2px;
  border: 4px solid rgba(120, 200, 255, 0.5);
  top: -4px;
}
.section-wrapper .work-section .content .timeline-border .timeline .point:nth-child(2) {
  left: 35%;
}
.section-wrapper .work-section .content .timeline-border .timeline .point:nth-child(3) {
  left: 40%;
}
.section-wrapper .work-section .content .timeline-border .timeline .point:nth-child(4) {
  left: 50%;
}
.section-wrapper .work-section .content .timeline-border .timeline .point:nth-child(5) {
  left: 55%;
}
.section-wrapper .work-section .content .timeline-border .timeline .point:nth-child(6) {
  left: 65%;
}
.section-wrapper .work-section .content .timeline-border .timeline .point:nth-child(7) {
  left: 70%;
}
.section-wrapper .work-section .content .timeline-border .timeline .point:nth-child(8) {
  left: 75%;
}
.section-wrapper .work-section .content .timeline-border .timeline .point:nth-child(9) {
  left: 85%;
}
.section-wrapper .work-section .content .timeline-border .timeline .point:nth-child(10) {
  left: 90%;
}
.section-wrapper .work-section .content .timeline-border .timeline .point .point-content {
  position: absolute;
  min-width: 10em;
  bottom: 1em;
  left: -4.5em;
  background-color: white;
  color: black;
  padding: 1em;
  text-align: center;
  border-radius: 0.3em;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: all 500ms;
  font-weight: 200;
}
.section-wrapper .work-section .content .timeline-border .timeline .point .date {
  position: absolute;
  top: 1em;
  left: -1em;
}
.section-wrapper .work-section .content .timeline-border .timeline .point:hover,
.section-wrapper .work-section .content .timeline-border .timeline .point:focus {
  border-color: rgba(120, 201, 255);
}
.section-wrapper .work-section .content .timeline-border .timeline .point:hover .point-content,
.section-wrapper .work-section .content .timeline-border .timeline .point:focus .point-content {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.section-wrapper .contact-section {
  padding: 5em 3em;
}
@media (max-width: 992px) {
  .section-wrapper .contact-section {
    padding: 5em 1em;
  }
}
.section-wrapper .contact-section .form-error {
  color: #cc0000;
}
.section-wrapper .contact-section .form-error label {
  text-transform: capitalize;
}
.section-wrapper .contact-section form {
  padding: 1em 0 0;
}
.section-wrapper .contact-section form label {
  font-family: 'Roboto Slab', serif;
  color: white;
  margin-bottom: -5em;
  font-size: 0.8em;
  opacity: 0.2;
  display: inline-block;
  transition: all 0.5s;
}
.section-wrapper .contact-section form label.labelfocus {
  margin-bottom: 0;
  font-size: 1em;
  opacity: 1;
}
.section-wrapper .contact-section form input {
  font-family: 'Roboto Slab', serif;
  width: 100%;
  color: white;
  background-color: transparent;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #9400D3) 100% 1;
  border-top: transparent;
  margin-bottom: 2em;
}
.section-wrapper .contact-section form textarea {
  width: 100%;
  height: 40%;
  color: white;
  background-color: transparent;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #9400D3) 100% 1;
  border-top: transparent;
  resize: none;
}
@media (max-width: 992px) {
  .section-wrapper .contact-section form textarea {
    height: 40vh;
  }
}
.section-wrapper .contact-section form #submit {
  width: 10em;
  margin: 2.5em 0 0;
  cursor: pointer;
  padding: 1em 2em;
  background-image: linear-gradient(to right, #FC4F4F 0%, #FFCF00 35%, #00C0FF 70%, #FC4F4F 100%);
  border: none;
}
@media (max-width: 992px) {
  .section-wrapper .contact-section form #submit {
    width: 100%;
  }
}
.section-wrapper .contact-section form #submit:hover {
  animation: rainbowBackground 2.5s linear infinite;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 8vmin;
  background-color: black;
  transform: translateY(8vmin);
  animation: slideUp 500ms linear 13s 1 normal forwards;
}
@media (max-width: 992px) {
  footer {
    height: 8vmax;
    transform: translateY(8vmax);
  }
}
footer .links-wrapper {
  position: absolute;
  margin: auto;
  width: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 992px) {
  footer .links-wrapper {
    width: 100%;
  }
}
footer .links-wrapper a {
  font-family: 'Roboto Slab', serif;
  color: white;
  text-decoration: none;
  transition: all 0.25s;
}
footer .links-wrapper a:nth-child(1):hover {
  border-bottom: 1px solid red;
}
footer .links-wrapper a:nth-child(2):hover {
  border-bottom: 1px solid orange;
}
footer .links-wrapper a:nth-child(3):hover {
  border-bottom: 1px solid yellow;
}
footer .links-wrapper a:nth-child(4):hover {
  border-bottom: 1px solid green;
}
footer .links-wrapper a:nth-child(5):hover {
  border-bottom: 1px solid blue;
}
footer .links-wrapper a:nth-child(6):hover {
  border-bottom: 1px solid purple;
}
footer .links-wrapper a i {
  height: 1.5em;
  color: white;
  display: none;
}
@media (max-width: 992px) {
  footer .links-wrapper a i {
    display: inline-block;
  }
  footer .links-wrapper a span {
    display: none;
  }
}
@keyframes rainbow {
  0% {
    color: #FF0000;
  }
  15% {
    color: #FF7F00;
  }
  30% {
    color: #FFFF00;
  }
  45% {
    color: #00FF00;
  }
  60% {
    color: #0000FF;
  }
  75% {
    color: #4B0082;
  }
  90% {
    color: #9400D3;
  }
  100% {
    color: white;
  }
}
@keyframes rainbowBackground {
  to {
    background-position: 10em;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes dropDown {
  0% {
    transform: translateY(-3em);
  }
  75% {
    transform: translateY(0.2em);
  }
  90% {
    transform: translateY(-0.2em);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(8vmin);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(30em);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInDown {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes lines {
  0% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  50% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
  }
}
