<html>
    <head>  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Jemima Abu is a Front End Developer, Content Creator, Yoga Practicioner, Art Enthusiast, and all-round nerd who lives in Lagos, Nigeria.">
        <meta name="author" content="Jemima Abu">
        <meta property="og:title" content="Jemima Abu">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Jemima Abu">
        <meta property="og:url" content="http://jemimaabu.com">
        <meta property="og:image" content="{{ url_for('static', filename='images/favicon.png') }}">
        <meta property="og:locale" content="en_US">
        <meta name="theme-color" content="#000000">
        <meta name="msapplication-navbutton-color" content="#000000">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab|Exo+2:400,900italic,900,800italic,800,700italic,700,600italic,600,500italic,500,400italic,300italic,300,200italic,200,100italic,100" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon"/>
        <title>Jemima Abu: Front End Developer</title>
    </head>
    <body>
        <main>
            <div class="section-wrapper">
                <section id="home" class="home-section" name="home">
                    <div class="overlay"></div>
                    <div class="menu">
                        <div class="overlay"></div>
                        <div class="layout-switch">
                            <a class="portrait" href="">portrait</a>
                            <a class="landscape" href="">landscape</a>
                        </div>
                        <nav class="page-links">
                            <a class="home-link" href="">home</a>
                            <a class="about-link" href="">about</a>
                            <a class="work-link" href="">work</a>
                            <a class="contact-link" href="">contact</a>
                        </nav>
                    </div>
                    <div class="content">
                        <h1 class="first">Hello!</h1>
                        <h2 class="second">Welcome to my website.</h2>
                        <p class="third">What I was trying to achieve with this website was a totally different layout than I'm used to which is why I went with a landscape view.</p> 
                        <p class="fourth">If you'd prefer a regular view, feel free to switch to portrait with the controller in the upper left corner.</p>
                        <p class="fifth">To find out more about me, use the links in the upper right corner.</p>
                        <p class="sixth">For my other online spaces, checkout the links below.</p>
                    </div>
                </section>
                <section id="about" class="about-section" name="about">
                    <div class="bouncing"></div>
                    <div class="intro"> Click anywhere to get started </div>
                    <div class="content hidden">
                        <button class="clear-ball">Clear background</button>
                        <p>Okay so this page is really just for fun.</p> 
                        <p>Click anywhere to reveal a random fact about me.</p> 
                        <p>You know, if you're interested in that sort of thing.</p>
                        <div class="fact"></div>
                    </div>
                </section>
                <section id="work" class="work-section" name="work">
                    <div class="overlay"></div>
                    <div class="content hidden">
                        <div class="work-bio">
                            <div class="heading">Bio</div>
                            I currently work as a remote front end developer at <a href="https://sumo-soft.com" target="_blank">Sumosoft</a>. I'm available for freelance work on interesting projects, preferably remote.
                        </div>
                        <div class="works-done">
                            <div class="heading">Works Done</div>
                            <div class="works-container">
                                <img class="static" src="../static/images/static.gif"/>
                                <div class="work">
                                    <a href="" class="work-link">
                                        <img class="work-image" src="../static/images/my-website-screenshot.png"/>
                                    </a>
                                    <div class="work-title"> This website </div>
                                </div>
                                <div class="work">
                                    <a href="http://jemimaabu.com/" class="work-link" target="_blank">
                                        <img class="work-image" src="../static/images/Old-Website.png"/>
                                    </a>
                                    <div class="work-title"> This other website </div>
                                </div>
                                <div class="work">
                                    <a href="https://my-hobbyist.herokuapp.com/" class="work-link" target="_blank">
                                        <img class="work-image" src="../static/images/Hobbyist.png"/>
                                    </a>
                                    <div class="work-title"> A Hobby website </div>
                                </div>
                                <div class="work">
                                    <a href="https://socks-knocked-off.herokuapp.com/" class="work-link" target="_blank">
                                        <img class="work-image" src="../static/images/Crea8NOW.png"/>
                                    </a>
                                    <div class="work-title"> A different website </div>
                                </div>
                                <div class="work">
                                    <a href="http://omoelle.com/" class="work-link" target="_blank">
                                        <img class="work-image" src="../static/images/Omoelle.png"/>
                                    </a>
                                    <div class="work-title"> An e-commerce website </div>
                                </div>
                            </div>
                            <div class="controls">
                                <div class="previous" > - </div>
                                <div class="next"> + </div>
                            </div>
                        </div>
                        <div class="works-written">
                            <div class="heading">Works Written</div>
                            <div class="works-container">
                                <div class="work">
                                    <a href="https://medium.com/stutern-stories/how-to-write-a-cv-in-nigeria-d05d8981dbda" class="work-link" target="_blank">
                                        <h1>How To Write A CV In Nigeria</h1>
                                        <p>I recently heard somewhere &#8212; I can’t remember where so no credit to whoever said it &#8212; that there’s no specific format for writing CVs in Nigeria.
                                        <br>This article is my attempt to remedy that.</p>
                                    </a>
                                    <div class="work-title"> How To Write A CV In Nigeria </div>
                                </div>
                                <div class="work">
                                    <a href="https://medium.com/@jemimaabu/how-to-practice-coding-in-nigeria-76272f8f0ee1" class="work-link" target="_blank">
                                        <h1>How To Practice Coding in Nigeria</h1>
                                        <p>Rise above the lack of electricity and slow internet and general unpleasantness.
                                        <br>Includes list of places that are great for coding.</p>
                                    </a>
                                    <div class="work-title"> How To Practice Coding in Nigeria </div>
                                </div>
                                <div class="work">
                                    <a href="https://medium.com/stutern-stories/how-to-get-a-job-interview-in-nigeria-9be707e4cc90" class="work-link" target="_blank">
                                        <h1>How To Get A Job Interview In Nigeria</h1>
                                        <p>Most Nigerians feel it is near impossible to get an interview at a company without knowing someone in the company or having some sort of connection.
                                        <br>Honestly, it's really not that hard.</p>
                                    </a>
                                    <div class="work-title"> How To Get A Job Interview In Nigeria </div>
                                </div>
                                <div class="work">
                                    <a href="https://blog.usejournal.com/how-i-got-my-first-remote-job-while-in-school-48ce438758fd" class="work-link" target="_blank">
                                        <h1>How I Got My First Remote Job</h1>
                                        <p>A helpful play-by-play of how I got my first remote job. Includes tips for applying to remote jobs and sites for finding remote jobs.</p>
                                    </a>
                                    <div class="work-title"> How I Got My First Remote Job </div>
                                </div>
                            </div>
                            <div class="controls">
                                <div class="previous"> - </div>
                                <div class="next"> + </div>
                            </div>
                        </div>
                        <div class="timeline-border">
                            <div class="heading">Timeline</div>
                            <div class="timeline">
                                <div class="point">
                                    <div class="point-content"> Birth </div>
                                    <div class="date"> 1997 </div>
                                </div>
                                <div class="point">
                                    <div class="point-content"> Got my first job ever as a furniture sales person (for just a month, thank goodness) </div>
                                    <div class="date"> 2015 </div>
                                </div>
                                <div class="point">
                                    <div class="point-content"> Started practicing yoga </div>
                                </div>
                                <div class="point">
                                    <div class="point-content"> Brief stint as a yoga instructor (taught a couple of classes then dipped cause school) </div>
                                    <div class="date"> 2016 </div>
                                </div>
                                <div class="point">
                                    <div class="point-content"> Started learning how to code </div>
                                </div>
                                <div class="point">
                                    <div class="point-content"> Got a job as an art instructor </div>
                                    <div class="date"> 2017 </div>
                                </div>
                                <div class="point">
                                    <div class="point-content"> Taught ballet to schoolkids for about 9 months </div>
                                </div>
                                <div class="point">
                                    <div class="point-content"> Got my first job as a front end developer (thanks to the ASUU strike) </div>
                                </div>
                                <div class="point">
                                    <div class="point-content">Got my second job as a front end developer </div>
                                    <div class="date"> 2018 </div>
                                </div>
                                <div class="point">
                                    <div class="point-content">Started working at my current workplace </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="contact" class="contact-section" name="contact">
                    {% for field, errors in form.errors.items() %}
                    <div class="form-error">
                        {{ form[field].label }}: {{ ', '.join(errors) }}
                    </div>
                    {% endfor %}
                    <form method="POST" action="/">
                        {{ form.csrf_token }}

                        {{ form.name.label }}
                        {{ form.name }}
                    
                        {{ form.email.label }}
                        {{ form.email }}
                    
                        {{ form.subject.label }}
                        {{ form.subject }}
                    
                        {{ form.message.label }}
                        {{ form.message }}
                    
                        {{ form.submit }}
                    </form>
                </section>
            </div>
        </main>
        <footer>
            <div class="links-wrapper">
                <a href="https://codepen.io/Jemimaabu" title="Codepen" target="_blank">
                    <span>Codepen</span>
                    <i class="fab fa-codepen"></i>
                </a>
                <a href="https://github.com/Jemimaabu" title="Github" target="_blank">
                    <span>Github</span>
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://medium.com/@jemimaabu" title="Medium" target="_blank">
                    <span>Medium</span>
                    <i class="fab fa-medium-m"></i>
                </a>
                <a href="https://www.linkedin.com/in/jemimaabu/" title="LinkedIn" target="_blank">
                    <span>LinkedIn</span>
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://twitter.com/Jemimaabu/" title="Twitter" target="_blank">
                    <span>Twitter</span>
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/jemimaabu/" title="Instagram" target="_blank">
                    <span>Instagram</span>
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}" async></script>
    </body>
</html>