<html>
    <head>  
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Jemima Abu is a Front End Developer, Content Creator, Yoga Practicioner, Art Enthusiast, and all-round nerd who lives in Lagos, Nigeria.">
        <meta name="author" content="Jemima Abu">
        <meta property="og:title" content="Jemima Abu">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Jemima Abu">
        <meta property="og:url" content="http://www.jemimaabu.com">
        <meta property="og:image" content="{{ url_for('static', filename='images/favicon.png') }}">
        <meta property="og:locale" content="en_US">
        <meta name="theme-color" content="#000000">
        <meta name="msapplication-navbutton-color" content="#000000">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-min.css') }}" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab|Exo+2:400,900italic,900,800italic,800,700italic,700,600italic,600,500italic,500,400italic,300italic,300,200italic,200,100italic,100" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon"/>
        <title>Jemima Abu: Front End Developer</title>
    </head>
    <body>
        <nav class="menu">
            <div class="overlay animate one"></div>
            <div class="layout-switch animate six">
                <a class="portrait" href="">portrait</a>
                <a class="landscape" href="">landscape</a>
            </div>
            <div class="page-links">
                <a class="home-link animate eight" href="/">home</a>
                <a class="about-link animate nine" href="/about">about</a>
                <a class="work-link animate ten" href="/work">work</a>
                <a class="projects-link animate eleven" href="/projects">projects</a>
                <a class="contact-link animate twelve" href="/contact">contact</a>
            </div>
        </nav>
        <button type="button" class="skip-animation">
            Skip Animation
        </button>
        <main>
            <div class="section-wrapper">
                <section id="home" class="home-section" name="home">
                    <div class="overlay animate one"></div>
                    <div class="content">
                        <h1 class="animate two">Hello, my name is Jemima Abu!</h1>
                        <h2 class="animate three">I build sites and fix stuff.</h2>
                        <p class="animate four">What I was trying to achieve with this website was a totally different layout than I'm used to which is why I went with a landscape view.</p> 
                        <p class="animate five">If you'd prefer a regular view, feel free to switch to portrait with the controller in the upper left corner.</p>
                        <p class="animate seven">To find out more about me, use the links in the upper right corner.</p>
                        <p class="animate thirteen">For my other online spaces, checkout the links below.</p>
                    </div>
                </section>
                <section id="about" class="about-section" name="about">
                    <div class="bouncing"></div>
                    <a href="" class="intro"> Click anywhere to get started </a>
                    <div class="content hidden">
                        <button class="clear-ball">Clear background</button>
                        <p>Okay so this page is really just for fun.</p> 
                        <p>Click anywhere to reveal a random fact about me.</p> 
                        <p>You know, if you're interested in that sort of thing.</p>
                        <a href="" class="fact"></a>
                    </div>
                </section>
                <section id="work" class="work-section" name="work">
                    <div class="overlay"></div>
                    <div class="content hidden">
                        <div class="work-bio">
                            <div class="heading">Bio</div>
                            I currently work as a remote front end developer at <a href="https://sumo-soft.com" target="_blank">Sumosoft</a>. I build websites using <em>HTML, CSS and JavaScript</em>. <em>ReactJS</em> is my current framework of choice but I'm always open to learning any of the hundreds of frameworks out there. Here's my <a href="https://docs.google.com/document/d/1JT1fUQ199DxOE_BCriQFRPuNnlMiwldyuoADuhsC0i0/edit?usp=sharing" target="_blank">resume</a>.
                        </div>
                        <div class="works-done">
                            <div class="heading">Works Done</div>
                            <div class="works-container">
                                <img alt="static-gif" class="static" src="../static/images/static.gif"/>
                                <div class="work">
                                    <a href="http://unilagconsult.com.ng/cybercamp19" class="image-link" target="_blank">
                                        <div class="work-overlay">
                                            <h3>A Cyber Camp website</h3>
                                            <p>Built with</p>
                                            <li>HTML</li>
                                            <li>CSS</li>
                                            <li>JavaScript</li>
                                        </div>
                                        <img alt="Screenshot of Cyber Camp website" class="work-image" src="../static/images/cyber-camp.png"/>
                                    </a>
                                    <a href="http://unilagconsult.com.ng/cybercamp19" class="subtitle-link" target="_blank"> A Cyber Camp website </a>
                                </div>
                                <div class="work">
                                    <a href="http://minimalism-is-art.herokuapp.com/" class="image-link" target="_blank">
                                        <div class="work-overlay">
                                            <h3>A minimalist image website</h3>
                                            <p>Built with</p>
                                            <li>React</li>
                                            <li>TypeScript</li>
                                            <li>JavaScript</li>
                                            <li>CSS</li>
                                        </div>
                                        <img alt="Screenshot of Minimalism Is Art website" class="work-image" src="../static/images/minimalism-is-art.png"/>
                                    </a>
                                    <a href="http://minimalism-is-art.herokuapp.com/" class="subtitle-link" target="_blank"> A minimalist website </a>
                                </div>
                                <div class="work">
                                    <a href="/" class="image-link">
                                        <div class="work-overlay">
                                            <h3>You're currently looking at this website.</h3>
                                            <p>Built with</p>
                                            <li>HTML</li>
                                            <li>CSS</li>
                                            <li>jQuery</li>
                                            <li>Python</li>
                                        </div>
                                        <img alt="Screenshot of current website" class="work-image" src="../static/images/my-website-screenshot.png"/>
                                    </a>
                                    <a href="/" class="subtitle-link" target="_blank"> A portfolio website </a>
                                </div>
                                <div class="work">
                                    <a href="https://jemimaabu.github.io" class="image-link" target="_blank">
                                        <div class="work-overlay">
                                            <h3>This is where I list my open source projects.</h3>
                                            <p>Built with</p>
                                            <li>HTML</li>
                                            <li>CSS</li>
                                            <li>JavaScript</li>
                                        </div>
                                        <img alt="Screenshot of older website" class="work-image" src="../static/images/Old-Website.png"/>
                                    </a>
                                    <a href="https://jemimaabu.github.io" class="subtitle-link" target="_blank"> A Github Projects website </a>
                                </div>
                                <div class="work">
                                    <a href="https://my-hobbyist.herokuapp.com/" class="image-link" target="_blank">
                                        <div class="work-overlay">
                                            <h3>Sign up, log in, add a hobby.</h3>
                                            <p>Built with</p>
                                            <li>HTML</li>
                                            <li>CSS</li>
                                            <li>JavaScript</li>
                                            <li>Flask</li>
                                            <li>MySQL</li>
                                        </div>
                                        <img alt="Screenshot of the Hobbyist website" class="work-image" src="../static/images/Hobbyist.png"/>
                                    </a>
                                    <a href="https://my-hobbyist.herokuapp.com/" class="subtitle-link" target="_blank"> A Hobby website </a>
                                </div>
                                <div class="work">
                                    <a href="https://socks-knocked-off.herokuapp.com/" class="image-link" target="_blank">
                                        <div class="work-overlay">
                                            <h3>Designed for a creative agency.</h3>
                                            <p>Built with</p>
                                            <li>HTML</li>
                                            <li>CSS</li>
                                            <li>JavaScript</li>
                                        </div>
                                        <img alt="Screenshot of the Crea8NOW website" class="work-image" src="../static/images/Crea8NOW.png"/>
                                    </a>
                                    <a href="https://socks-knocked-off.herokuapp.com/" class="subtitle-link" target="_blank"> A creative website </a>
                                </div>
                            </div>
                            <div class="controls">
                                <button id="previous-button" > - </button>
                                <button id="next-button"> + </button>
                            </div>
                        </div>
                        <div class="works-written">
                            <div class="heading">Works Written</div>
                            <div class="works-container">
                                <div class="work">
                                    <a href="https://medium.com/stutern-stories/how-to-write-a-cv-in-nigeria-d05d8981dbda" class="image-link" target="_blank">
                                        <h1>How To Write A CV In Nigeria</h1>
                                        <p>I recently heard somewhere &#8212; I can’t remember where so no credit to whoever said it &#8212; that there’s no specific format for writing CVs in Nigeria.
                                        <br>This article is my attempt to remedy that.</p>
                                    </a>
                                    <a href="https://medium.com/stutern-stories/how-to-write-a-cv-in-nigeria-d05d8981dbda" class="subtitle-link" target="_blank"> How To Write A CV In Nigeria </a>
                                </div>
                                <div class="work">
                                    <a href="https://medium.com/@jemimaabu/how-to-practice-coding-in-nigeria-76272f8f0ee1" class="image-link" target="_blank">
                                        <h1>How To Practice Coding in Nigeria</h1>
                                        <p>Rise above the lack of electricity and slow internet and general unpleasantness.
                                        <br>Includes list of places that are great for coding.</p>
                                    </a>
                                    <a href="https://medium.com/@jemimaabu/how-to-practice-coding-in-nigeria-76272f8f0ee1" class="subtitle-link" target="_blank"> How To Practice Coding in Nigeria </a>
                                </div>
                                <div class="work">
                                    <a href="https://medium.com/stutern-stories/how-to-get-a-job-interview-in-nigeria-9be707e4cc90" class="image-link" target="_blank">
                                        <h1>How To Get A Job Interview In Nigeria</h1>
                                        <p>Most Nigerians feel it is near impossible to get an interview at a company without knowing someone in the company or having some sort of connection.
                                        <br>Honestly, it's really not that hard.</p>
                                    </a>
                                    <a href="https://medium.com/stutern-stories/how-to-get-a-job-interview-in-nigeria-9be707e4cc90" class="subtitle-link" target="_blank"> How To Get A Job Interview In Nigeria </a>
                                </div>
                                <div class="work">
                                    <a href="https://blog.usejournal.com/how-i-got-my-first-remote-job-while-in-school-48ce438758fd" class="image-link" target="_blank">
                                        <h1>How I Got My First Remote Job</h1>
                                        <p>A helpful play-by-play of how I got my first remote job. Includes tips for applying to remote jobs and sites for finding remote jobs.</p>
                                    </a>
                                    <a href="https://blog.usejournal.com/how-i-got-my-first-remote-job-while-in-school-48ce438758fd" class="subtitle-link" target="_blank"> How I Got My First Remote Job </a>
                                </div>
                            </div>
                            <div class="controls">
                                <button id="previous-button"> - </button>
                                <button id="next-button"> + </button>
                            </div>
                        </div>
                        <div class="timeline-border">
                            <div class="heading">Timeline</div>
                            <div class="timeline">
                                <a href="" class="point">
                                    <div class="point-content"> Birth </div>
                                    <div class="date"> 1997 </div>
                                </a>
                                <a href="" class="point">
                                    <div class="point-content"> Got my first job ever as a furniture sales person (for just a month, thank goodness) </div>
                                    <div class="date"> 2015 </div>
                                </a>
                                <a href="" class="point">
                                    <div class="point-content"> Started practicing yoga </div>
                                </a>
                                <a href="" class="point">
                                    <div class="point-content"> Brief stint as a yoga instructor (taught a couple of classes then dipped cause school) </div>
                                    <div class="date"> 2016 </div>
                                </a>
                                <a href="" class="point">
                                    <div class="point-content"> Started learning how to code </div>
                                </a>
                                <a href="" class="point">
                                    <div class="point-content"> Got a job as an art instructor </div>
                                    <div class="date"> 2017 </div>
                                </a>
                                <a href="" class="point">
                                    <div class="point-content"> Taught ballet to schoolkids for about 9 months </div>
                                </a>
                                <a href="" class="point">
                                    <div class="point-content"> Got my first job as a front end developer (thanks to the ASUU strike) </div>
                                </a>
                                <a href="" class="point">
                                    <div class="point-content">Got my second job as a front end developer </div>
                                    <div class="date"> 2018 </div>
                                </a>
                                <a href="" class="point">
                                    <div class="point-content">Started working at my current workplace </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="projects" class="projects-section" name="projects">
                    <div class="overlay"></div>
                    <h1>Projects</h1>
                    <ul>
                        <li>
                          <a href="https://gridster-demo.herokuapp.com/" target="_blank">Gridster</a><p>A grid game.</p>
                        </li>
                        <li>
                          <a href="https://jemimaabu.github.io/random-gradient-generator" target="_blank">Random Gradient Generator</a><p>A webpage for generating random gradient backgrounds.</p>
                        </li>
                        <li>
                          <a href="https://jemimaabu.github.io/mocking-text" target="_blank">Mocking Text</a><p>RePeAt mEsSaGeS SaRcAsTiCaLlY By tYpInG LiKe tHiS.</p>
                        </li>
                        <li>
                          <a href="https://jemimaabu.github.io/label-creator" target="_blank">Label Creator</a><p>A webapp for creating and viewing labels.</p>
                        </li>
                        <li>
                          <a href="https://jemimaabu.github.io/word-processor" target="_blank">Word Processor</a><p>A simple word counter and case converter webapp.</p>
                        </li>
                        <li>
                          <a href="https://jemimaabu.github.io/list-alphabetizer" target="_blank">List Alphabetizer</a><p>A webapp for sorting lists alphabetically.</p>
                        </li>
                        <li>
                          <a href="https://jemimaabu.github.io/take-note" target="_blank">Take Note</a><p>A minimalist webapp for saving notes on your browser.</p>
                        </li>
                        <li>
                          <a href="https://jemimaabu.github.io/random-password-generator" target="_blank">Random Password Generator</a><p>A webpage that generates random passwords.</p>
                        </li>
                        <li>
                          <a href="https://jemimaabu.github.io/find-the-formula" target="_blank">Find the Number</a><p>Figure out the formula used in a sequence and correctly predict the next number.</p>
                        </li>
                        <li>
                          <a href="https://jemimaabu.github.io/dead-and-wounded" target="_blank">Dead and wounded</a><p>A number guessing game.</p>
                        </li>
                        <li>
                          <a href="https://jemimaabu.github.io/what-should-we-eat" target="_blank">What Should We Eat</a><p>A webpage that chooses at random from a list of food choices and helps settle the question "What should we eat?"</p>
                        </li>
                        <li>
                          <a href="https://jemimaabu.github.io/hexcode-color-render" target="_blank">Hexcode Color Render</a><p>A webpage that detects hexcode in user input and renders the color.</p>
                        </li>
                    </ul>
                </section>
                <section id="contact" class="contact-section" name="contact">
                    <div class="content">
                        <h1>Send me a message...</h1>
                        <a href="mailto:jemimaabu@gmail.com">For business reasons</a><br>
                        <a href="https://twitter.com/messages/compose?recipient_id=128661296" target="_blank">Just to say hi</a>
                    </div>
                </section>
            </div>
        </main>
        <footer class="animate fourteen">
            <div class="links-wrapper">
                <a href="https://codepen.io/Jemimaabu" title="Codepen" target="_blank">
                    <span>Codepen</span>
                    <i class="fab fa-codepen"></i>
                </a>
                <a href="https://github.com/Jemimaabu" title="Github" target="_blank">
                    <span>Github</span>
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://medium.com/@jemimaabu" title="Medium" target="_blank">
                    <span>Medium</span>
                    <i class="fab fa-medium-m"></i>
                </a>
                <a href="https://www.linkedin.com/in/jemimaabu/" title="LinkedIn" target="_blank">
                    <span>LinkedIn</span>
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://twitter.com/Jemimaabu/" title="Twitter" target="_blank">
                    <span>Twitter</span>
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/jemimaabu/" title="Instagram" target="_blank">
                    <span>Instagram</span>
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/scripts-min.js') }}" async></script>
    </body>
</html>